body {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
}

.ui.button.xlscolor {
  background-color: #227547;
  color: #fff;
}

i.icon.xlscolor {
  color: #227547;
}

.description {
  font-weight: normal;
}

.ui.grid .row {
  padding-top: 20px;
}

.ui.form .fields .field {
    margin: 0;
}

.untorch-form-container {
  margin: auto;
}
